<or>
  <hostname op="=" value="realtime-02.khw2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="realtime-03.khw2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="supermicro-X12DHM-6-02.7a2m.lab.eng.bos.redhat.com"/>
</or>
